body{
    background-color: #f5d9d5;

    font-family: 'Nunito', sans-serif;
} 

#mainNavBar{
    font-size: 1.5rem;
    font-weight: 100;

}

#mainNavBar .navbar-brand{
   
    color:#ea1c2c ;
    font-size: 1.5rem;
}

#mainNavBar .nav-link{
    color: white;
    transition: 0.4s;
}
#mainNavBar .nav-link:hover{
    color: #ea1c2c;
    transform: scale(1.1);
    text-decoration: underline;
}

#heading-group span{

    color: #ea1c2c;

}

#heading-group h1{
    font-size: 4rem;
    font-weight: 100;
    text-transform: uppercase;
}

.blurb h2{
    color: #ea1c2c;
    font-size: 2.5rem;
    font-weight: 100;
}

.blurb p{
    line-height: 2;
    color: #f8644d;
    font-size: 1.25rem;
    font-weight: 100;
}

.content{
    margin-bottom: 50px;
    margin-top: 50px;
}


.navbar.scrolled{
    background: rgb(222, 192, 222);
    transition: background 500ms;
}
@media (max-width:1200px){

    #heading-group h1{
        font-size: 3rem;
        font-weight: 100;
        
    }

}

